:root {
	--darkblue: #191970;
}

.category {
	display: block;
}

.summary {
	color: var(--darkblue);
	font-size: xx-large;
}

.category_score {
	color: var(--darkblue);
	font-size: medium;
}

button {
	background-color: var(--darkblue, #191970);
	color: #ffffff;
	border-radius: 15px;

	width: 250px;
	padding: 6px;

}